* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body, h1, h2, p, div, section {
  margin: 0;
  padding: 0;
}

.point:hover{
  cursor: pointer;
  color: #0C83E8;
  text-shadow: none;
}

.bg{
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  z-index: -3;
  background-image: url(assets/mountain-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

header, .form-section {
  position: relative;
  top: calc(35vh - 150px);
  color: #fff;
  margin: 0 auto;
}

header {
  text-shadow: 0px 0px 12px rgba(125, 134, 135, 1);
  padding: 27px 0;
}

.description-prompt {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(43, 65, 88, 0.7);
  z-index: 2;
}

.description-prompt::before {
  content: '?';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.description {
  width: 400px;
  background-color: rgba(255, 131, 131, 0.8);
  border-radius: 4px;
  color: #fff;
  padding: 10px;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 0 20px 0 0;
  z-index: 1;
  transition: .2s;
  font-size: 16px;
}

description-prompt:hover {
background-color: #647586;
}

.new-search {
  width: 100%;
  height: 150px;
  position: relative;
  z-index: 1;
  font-size: 30px;
  top: -150px;
}

.search-box {
  width: calc(100% - 260px);
  height: 150px;
  position: relative;
  display: inline-block;
  padding: 10px;
}

.new-search label {
  position: absolute;
  top:10px;
  left: 15px;
  color: #0C83E8;
}

.new-search input {
  width: 100%;
  height: 100px;
  position: relative;
  top: 20px;
  font-size: 40px;
  border: 0;
  color: #0D50FF;
  border-bottom: 2px solid #0C83E8;
  background: transparent;
}

.new-search .new-form-submit, .cancel {
  width: 130px;
  height: 130px;
  position: absolute;
  top: 0;
  border-radius: 0;
  font-size: 16px;
  color: #fff;
  transition: .2s;
  text-align: center;
  cursor: pointer;
}


.new-search .new-form-submit {
  right: 130px;
  background-color: #0DFFA9;
}

.cancel {
  background-color: #ff8383;;
  right:0;
}

.new-search .new-form-submit img, .cancel img {
  width: 50%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-search .new-form-submit:hover {
  background-color: #0bbf7d;
  transition: .2s;
}

.cancel:hover {
  background-color: #db6969;
}

footer {
  background-color: rgba(43, 65, 88, 0.7);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 100;
}

footer a {
  color: #0DFFA9;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.input {
  font-size: 16px;
  outline: none;
  background-color: rgba(43, 65, 88, 0.7);
  border: none;
  border-bottom: 2px #fff;
  padding: 5px;
  height: 40px;
  color: #fff;
  margin-bottom: 10px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

button {
  height: 40px;
  width: 80px;
  color: #0C83E8;
  background-color: #0DFFA9;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.options {
  height: 100%;
  margin: -150px auto 0 auto;
  position: relative;
  text-align: center;
  font-size: 0;
  display: none;
}
.option-container {
  width: 100%;
}

.option-row {
  width: 49vw;
  height: 24.7vw;
  position: relative;
  display: inline-block;
  font-size: 16px;
  transition: .2s;
}

.option {
  width: 23.2vw;
  height:23.2vw;
  border-radius: 4px;
  margin: 1vh .6vw;
  background-color: #0DFFA9;
  display: inline-block;
  position: absolute;
  cursor: pointer;
  transition: .2s;
}

.hoveredOption {
  background-color: #0bbf7d;
}

.option-left {
  left:0;
}

.option-right {
  right:0;
}

.option-name {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 10px;
  top: 5px;
  color: #0C83E8;
  font-size: 150%;
  cursor: default;
  transition: .5s;
}

.option-img {
  position: absolute;
  max-height: 50%;
  width: auto;
  max-width: 95%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.venues {
  position: absolute;
  text-align: left;
  top: 10vh;
  left: 0;
  width: 100%;
  background-color: #fff;
  height:68vh;
  padding: .3vw;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.venue {
  width: 100%;
  padding: 1vw;
  margin: .7vw 0;
  min-height: 30.2vh;
  background-color: #fff;
  -webkit-box-shadow: 4px 9px 59px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 9px 59px -17px rgba(0,0,0,0.75);
  box-shadow: 4px 9px 59px -17px rgba(0,0,0,0.75);
  position: relative;
}

.venue-img {
  width:15.1vh;
  height: 15.1vh;
  position: absolute;
  top:5%;
  left:2%;
}

.title-address {
  position: relative;
  top: 3vh;
  left:18.1vh;
  max-width: 31vw;
}

.title-address a {
  text-decoration: none;
  color: #0D50FF;
}

.map-icon {
  width: 7%;
  height: auto;
  position: absolute;
  top: 5%;
  right: 2%;
  cursor: pointer;
}

.share-icon {
  width: 5%;
  height: auto;
  position: absolute;
  bottom: 5%;
  right: 2%;
  cursor: pointer;
}

.rating {
  position: absolute;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 6vh;
  background-color: green;
  bottom: 5%;
  left: 2%;
}

.g-map, .loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(43, 65, 88, 0.7);
  text-align: center;
  z-index: 2;
  display: none;
}

.g-map iframe {
  position: relative;
  top: 50vh;
  margin-top: -25vh;
  width: 50%;
  height: 50%;
}

.close-map{
  position: absolute;
  top: 15px;
  right:15px;
  color: #fff;
  cursor: pointer;
}

.close-map:hover{
  color: #000;
}
/* Javascript Classes */
.position-top {
  top: -150px;
  transition: 1s;
}

.selected-option{
  height: 80vh !important;
  transition: .2s;
  -webkit-box-shadow: 4px 9px 59px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 9px 59px -17px rgba(0,0,0,0.75);
  box-shadow: 4px 9px 59px -17px rgba(0,0,0,0.75);
}

.selected-option > .option{
  width: 47.8vw !important;
  height: 78vh !important;
  cursor: default;
  transition: .2s;
}

.selected-option > .option .option-name {
  cursor:pointer;
  color: #0D50FF;
  transition: 1s;
}

.not-selected-option {
  opacity: .5;
  transition: .2s
}

.hidden {
  display: none;
  transition: .2s
}

/* -------------- Clock -------------- */

.clock{
	border-radius: 60px;
	border: 3px solid #0C83E8;
	height: 80px;
	width: 80px;
	position: relative;

	top: 28%;
	top: -webkit-calc(50% - 43px);
	top: calc(50% - 43px);
	left: 35%;
	left: -webkit-calc(50% - 43px);
	left: calc(50% - 43px);
}
.clock:after{
	content: "";
	position: absolute;
	background-color: #0C83E8;
	top:2px;
	left: 48%;
	height: 38px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 97%;
			transform-origin: 50% 97%;
	-webkit-animation: grdAiguille 2s linear infinite;
			animation: grdAiguille 2s linear infinite;
}

@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

.clock:before{
	content: "";
	position: absolute;
	background-color: #0C83E8;
	top:6px;
	left: 48%;
	height: 35px;
	width: 4px;
	border-radius: 5px;
	-webkit-transform-origin: 50% 94%;
			transform-origin: 50% 94%;
	-webkit-animation: ptAiguille 12s linear infinite;
			animation: ptAiguille 12s linear infinite;
}

@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}


/* ================== */

/* Mobile Friendly */
@media screen and (max-width:1015px){
  body {
    background-position: center center;
  }
header, .form-section {
  top: 0;
  margin: 0 15px;
}

  .new-search {
    width: 100%;
    height: 150px;
    position: relative;
    z-index: 1;
    font-size: 30px;
    top: -150px;
  }

  .search-box {
    width: calc(100%);
    height: 75px;
    padding: 10px;
  }

  .new-search label {
    top:5px;
    left: 15px;
    color: #0C83E8;
    display: none;
  }

  .new-search input {
    width: 100%;
    height: 50px;
    top: 20px;
    font-size: 16px;
    text-align: center;
  }

  .new-search .new-form-submit, .cancel {
    width: 46.3%;
    height: 45px;
    position: absolute;
    top: 90px;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
    line-height: 45px;
  }

  .new-search .new-form-submit img, .cancel img {
    height: 80%;
    width: auto;
  }

  .new-search .new-form-submit {
    left: 3vw;
    border-radius: 4px;
  }
  .cancel {
    right: 3vw;
    border-radius: 4px;
  }

  /* ================= */

  .option-row{
    width: 95%;
    height: 51vw;
    margin: 0 2.5%;
  }

  .option {
    width: 49%;
    height: 49vw;
    margin: .3vh .3vw;
  }

  .venues {
    height: 68.9vh;
  }

  .title-address {
    top: 2vh;
    left:17.1vh;
    max-width: 51vw;
    padding-bottom: 3vh;
  }

  .title-address h2 {
    font-size: 125%;
  }

  .g-map iframe {
    width: 100%;
  }

  /* Javascript Classes */
  .selected-option{
    height: 80vh !important;
    transition: .2s;
  }

  .selected-option > .option{
    width: 100% !important;
    height: 79vh !important;
    transition: .2s;
  }
  /* ================== */
}

@media screen and (min-width:800px){
  .selected-option-row-sibling {
    height: 58vh !important;
    transition: .2s;
  }
}



/* Ipad Pro and a little New MacBook friendlying */
@media screen and (min-height: 800px){
  .venue {
    height: 25vw;
  }

  .venue-img {
    width:13.1vw;
    height: 13.1vw;
  }

  .title-address {
    top: 2vh;
    left:16.1vw;
    max-width: 25vw;
  }
}

/* High res laptop Specific */
@media screen and (min-width: 1800px){
  h1, h2 {
    font-size: 300% !important;
  }

  p {
    font-size: 200% !important;
  }

  .venue {
    height: 17vw;
  }

  .venue-img {
    width:10vw;
    height: 10vw;
  }

  .title-address {
    top: 3vh;
    max-width: 45vh;
  }


}
