* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body, h1, h2, div {
  margin: 0;
  padding: 0;
}

body {
  background-color: #aaa;
}

.text-center {
  text-align: center;
}

.form-section {
  margin-bottom: 5px;
}

.options {
  height: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center;
  font-size: 0;
}
.option-container {
  width: 100%;
}

.option-row {
  width: 49%;
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.option {
  width: 23.2vw;
  margin: 1vh .6vw;
  background-color: #00ffff;
  display: inline-block;
  position: absolute;
}

.option-left {
  left:0;
}

.option-right {
  right:0;
}

.option-name {
  position: absolute;
  padding: 0;
  margin: 0;
  right: 10px;
  top: 5px;
  color: #619c9c;
  font-size: 250%;
  cursor: pointer;
}
/* Javascript Classes */
.selected-option{
  height: 70vh !important;
  transition: .2s;
}

.selected-option > .option{
  width: 47.8vw !important;
  height: 68vh !important;
  transition: .2s;
}

.not-selected-option {
  opacity: .5;
  transition: .2s
}

.selected-option-sibling {
  display: none;
  height: 70vh;
  transition: .2s
}

/* ================== */
@media screen and (max-width:750px){
  .option-row{
    width: 100%;
  }
  .option {
    width: 49vw;
    margin: .3vh .3vw;
  }

  /* Javascript Classes */
  .selected-option{
    height: 80vh !important;
    transition: .2s;
  }

  .selected-option > .option{
    width: 98.8vw !important;
    height: 79vh !important;
    transition: .2s;
  }

  .selected-option-row-sibling {
    height: 100%;
  }
  /* ================== */
}

@media screen and (min-width:750px){
  .selected-option-row-sibling {
    height: 70vh !important;
    transition: .2s;
  }
}
